{% extends 'base.html' %}

{% block title %}
  <h1> Search group </h1>
{% endblock %}

{% block main %}

    <form method='get'/>
      <label >Group name:</label><br>
      <input type="text" name="name" placeholder="Enter group name"><br><br>
      <input type="submit" value="Search">
    </form>

    <table class="table table-striped">
    <tr>
        <th>✎</th>
        <th>🗑</th>
        <th>Group name</th>
    </tr>
    {% for group in groups %}
        <tr>
            <p>
                <td><a href='{% url "groups:update" group.id %}'>UPDATE</a></td>
                <td><a href='{% url "groups:delete" group.id %}'>DELETE</a></td>
                <td>{{ group.name }}</td>
            </p>
        </tr>
    {% endfor %}
    </table>

{% endblock %}