{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <h1> Search teacher </h1>
{% endblock %}

{% block main %}

    <form method='get'/>
      {{ form.form|crispy}}

      <input type="submit" value="Search">
    </form>


    <table class="table table-striped">
    <tr>
        <th>✎</th>
        <th>🗑</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Birth date</th>
        <th>Phone number</th>
        <th>Group</th>
    </tr>
    {% for teacher in form.qs %}
        <tr>
            <p>
                <td><a href='{% url "teachers:update" teacher.id %}'>UPDATE</a></td>
                <td><a href='{% url "teachers:delete" teacher.id %}'>DELETE</a></td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.age }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.birth_date }}</td>
                <td>{{ teacher.phone_number }}</td>
                <td>{{ teacher.group.name }}</td>
            </p>
        </tr>
    {% endfor %}
    </table>

{% endblock %}