{% extends 'teachers_base.html' %}

{% block title %}
  <h1> Search teacher </h1>
{% endblock %}

{% block main %}

    <form method='get'/>
      <label >First name:</label><br>
      <input type="text" name="first_name" placeholder="Enter name"><br>

      <label >Last name:</label><br>
      <input type="text" name="last_name" placeholder="Enter last name"><br>

      <label >Age:</label><br>
      <input type="number" name="age" placeholder="Enter age"><br><br>

      <input type="submit" value="Search">
    </form>


    {% for teacher in teachers %}

        <p>
            <a href="{% url 'teacher_update' teacher.id %}">UPDATE</a>
            {{teacher}}
        </p>

    {% endfor %}

{% endblock %}